* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Inter';
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overflow-wrap: break-word;
  align-items: center;
}

a,
a:link,
a:visited,
a:active {
  font-size: larger;
  font-weight: bolder;
  max-width: 90vw;
  text-decoration: none;
  color: blue;
}

a:hover {
  color: cyan;
  text-decoration: underline;
}

h1 {
  max-width: 90vw;
}

h2 {
  max-width: 90vw;
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  max-width: 90vw;
  font-size: larger;
  list-style-type: none;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1.5rem;
  align-items: center;
  justify-items: center;
  row-gap: 2rem;
  max-width: 90vw;
}

section {
  display: flex;
  justify-content: center;
  row-gap: 1rem;
  max-width: 90vw;
}

.twocolumns {
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 0.5rem;
  max-width: 90vw;
}
